@import '../../node_modules/platypusui/dist/platypus';

@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300|Josefin+Sans:400,600);

@PrimaryBlue: #669ff1;
@PrimaryGreen: #68C3A3;

@Oswald: 'Oswald', sans-serif;

.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;
}

.save{
        display: none;
        background-color: @PrimaryGreen;
        color: white;
}

@import '../src/viewcontrols/home/home.vc.less';
@import '../src/viewcontrols/landingpage/landingpage.vc.less';
@import '../src/viewcontrols/login/login.vc.less';
@import '../src/viewcontrols/newtask/newtask.vc.less';
@import '../src/viewcontrols/register/register.vc.less';
@import '../src/viewcontrols/specifictask/specifictask.vc.less';
@import '../src/viewcontrols/suggestions/suggestions.vc.less';
@import '../src/viewcontrols/welcome/welcome.vc.less';
