@import '../../node_modules/platypusui/dist/platypus';

@import '../src/viewcontrols/home/home.vc.less';
@import '../src/viewcontrols/login/login.vc.less';
@import '../src/viewcontrols/newtask/newtask.vc.less';
@import '../src/viewcontrols/register/register.vc.less';
@import '../src/viewcontrols/welcome/welcome.vc.less';


@PrimaryBlue: #669ff1;

.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;
}
