& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="suggestions-vc"] {
        h1 {
            color: lightblue;
        }
        .container {
            padding-bottom: 20px;
            text-align: center;
            display: block;
        }
        .reddit-container {
            width: 50%;
            margin: 0 auto;
        }
        .reddits {
            border: 2px solid black;
            padding-bottom: 5px;
        }
    }
}
