& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="suggestions-vc"] {
        h1 {
            color: white;
            text-align: center;
        }
        h4 {
            text-align: center;
        }
        #back-button {
            position: absolute;
            left: 0.5em;
            top: -1em;
            font-size: 3em;
            z-index: 1000;
            margin: 0;
            color: black;
            text-decoration: none;
        }
        .container {
            padding-bottom: 20px;
            text-align: left;
            display: block;
            position: relative;
        }
        .reddit-container {
            width: 50%;
            margin: 0 auto;
            position: relative;
        }
        .reddits {
            background-color: #fff;
            padding: 2em;
            margin: 1em;
            -webkit-box-shadow: 0 0 10px grey;
            box-shadow: 0 0 10px grey;
        }
        .main {
            background: #83a4d4; /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #83a4d4 , #b6fbff); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #83a4d4 , #b6fbff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
            height: 100%;
            width: 100%;
            position: relative;
            font-family: @Oswald, sans-serif;                   
        }
         .reddits #img {
             height: 6em;
             width: 7em;
         }
        .reddits img[src="self"] {
            display: none;
        }
       .reddit-container .corner-link {
           position: absolute;
           background-color: black;
           height: 2.5em;
           width: 8em;
           a {
               color: red;
           }
       }
    }
}
