& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="specifictask-vc"] {



#back-icon {
    clear: both;
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    text-decoration: none;
    color: white;
}

.home-main-container{
    width: 100%;
    background: #83a4d4; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #83a4d4 , #b6fbff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #83a4d4 , #b6fbff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    height: 100%;
    min-height: 100vh;
    padding-bottom: 5em;
    margin: auto;
    text-align: center;
    position: relative;
    
}

    .current-task-parent-container {
        background-color:rgba(250,255,255,0.2);
        border-radius: 0.5em;
        width: 80%;
        margin: auto;
        box-shadow: 0 0 100px 1px #83a4d4;
        text-align: center;
        padding-top: 0em;
    
    
            
        .current-task {
            padding-top: 2em;
            padding-bottom: 2em;
            border-bottom: 1px solid white;
            
            &:last-of-type {
                border-bottom: none;
            }
        }
    }
        
        #completion-date{
            padding: 0;
        }
        h1{
            color: white;
            text-align: center;
            font-family: 'Montserrat-ExtraBold';
            margin-bottom: 0;
            text-transform: uppercase;
            margin-top: 0;
            padding-top: 2em;
        }
        
        h3 {
            color: #a4c5e4;
            text-align: center;
            font-family: 'Montserrat-ExtraBold';  
            margin-top: -0.5em;
        }
        .current-task {
            padding-left: 1em;
            padding-right: 1em;
            padding-top: 0;
            padding-bottom: 0;
        }
        
        .deleteBtn {
            padding-top: 1em;
        }
        
        .toggleContainer {
            float: right;
            padding-top: 4%;
            padding-left: 2%;
        }
        
        .plat-button{
            margin-top: 3.5em;
        }
        
        p {
            float: left;
            font-size: 2em;
            font-family: 'Montserrat-Bold'; 
            text-align: left;
            padding: 0;
            padding: 2%;

        }

        .false {
            color: #ef716f;
        }
        
        .true {
            color: #40b0b1;
        }
        
        .date-container{
            p{
                text-align: center;
                float: none;
                margin-top: 0;
                padding-top: 0;
                margin-bottom: 1.5%;
                font-size: 1.5em;
            }
            
            #on-track{
                display: none;
                width: 20%;
                height: 35px;
                line-height: 2em;
                .border-radius(40px);
                background-color: @PrimaryGreen;
                color: white;
                font-family: 'Montserrat-Light', sans-serif;
                font-size: 1em;
                margin: auto;
                margin-bottom: 5%;
                .fa-check{
                    padding-left: 5%;
                }
                   
                
            }
            
            #off-track{
                display: none;
                width: 20%;
                height: 35px;
                line-height: 2em;
                .border-radius(40px);
                background-color: @PrimaryRed;
                color: white;
                font-family: 'Montserrat-Light', sans-serif;
                font-size: 1em;
                margin: auto;
                margin-bottom: 5%;
            }
        } 
        
        .complete-button{
            font-family: 'Montserrat-Bold';
            border: none;
            font-size: 1.25em;
            margin-top: 5%;
        }       
     
    @mobile:  ~"only screen and (max-width: 500px)";
    @media @mobile{
        .date-container{
            #on-track{
                width: 50%;
            } 
        }
        
        .toggleContainer{
            padding-left: 0;
        }  
    }
     
    }
}
