& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="specifictask-vc"] {


        h1{
            color: white;
            text-align: center;
            font-family: 'Montserrat-ExtraBold';
            margin-bottom: 0;
            text-transform: uppercase;
        }
        
        h3 {
            color: #a4c5e4;
            text-align: center;
            font-family: 'Montserrat-ExtraBold';  
            margin-top: -0.5em;
        }
        .current-task {
            padding-left: 1em;
            padding-right: 1em;
            padding-top: 0;
            padding-bottom: 0;
        }
        
        .deleteBtn {
            padding-top: 5em;
            padding-bottom: 2em;
        }
        
        .toggleContainer {
            float: right;
            padding-top: 3.5em;
        }
        
        .plat-button{
            margin-top: 3.5em;
        }


        
        p {
            float: left;
            font-size: 2em;
            font-family: 'Montserrat-Bold'; 
            text-align: left; 

        }

        .false {
            color: #ef716f;
        }
        
        .true {
            color: #40b0b1;
        }
        
        .date-container{
            h5{
                color: white;
                font-family: 'Montserrat-Bold';
                text-align: center;
                font-size: 1em;
                margin-top: 3%;
                margin-bottom: .5%;
            }
            p{
                text-align: center;
                float: none;
                margin-top: 0;
            }
        }

    }
}
