& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="newtask-vc"] {

    }
}

.new-task-main-container{
    width: 100%;
    
    .new-task-top-header{
        height: 175px;
        background-color: @PrimaryBlue;
        
        h1{
            font-family: 'Oswald', sans-serif;
            font-size: 3em;
            text-align: center;
            line-height: 2.25em;
            color: white;
            text-transform: uppercase;
        }
    }
    
    .new-task-middle{
        width: 80%;
        margin: auto;
        margin-top: 5%;
        text-align: center;
        
        h3{
            font-family: @Oswald;
            font-weight: 400;
            color: gray;
        }
        .task-name-container{
            input{
                width: 50%;
                .border-radius;
            }
        }
        .checkpoint-container{
            input{
                width: 75%;
                .border-radius;
            }
        }
    }
   
}