& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="newtask-vc"] {
    
    .new-task-main-container{
       width: 100%;
       
       h3{
           font-family: 'Montserrat-Light', sans-serif;
           color: #40b0b1;
       }
        
        .new-task-top-header{
            height: 175px;
            background: #83a4d4; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(#83a4d4, #b6fbff);
            background: -o-linear-gradient(#83a4d4, #b6fbff);
            background: linear-gradient(#83a4d4, #b6fbff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            // background-image: url('../../images/project-desk.jpeg');
            // background-size: cover;
            // -webkit-filter: blur(5px);     
            // filter: blur(5px); 
                    
            h1{
                font-family: 'Montserrat-ExtraBold', sans-serif;
                font-size: 3em;
                text-align: center;
                line-height: 2.25em;
                color: white;
                text-transform: uppercase;
                z-index: 999;
            }
        }
        
        .new-task-middle{
            width: 80%;
            margin: auto;
            margin-top: 5%;
            text-align: center;
            
            .task-name-container{
                input{
                    width: 50%;
                    .border-radius(0)
                }
            }
            .checkpoint-container{
                input{
                    width: 75%;
                    .border-radius(0);
                    border-bottom: 2px solid @PrimaryBlue;
                }
            }
            .checkpoint-add{
                padding: 1%;
                button{
                    color: @PrimaryBlue;
                    background-color: white;
                    border: 2px solid @PrimaryBlue;
                    .border-radius;
                    padding: 4%;
                    font-family: 'Montserrat-Light', sans-serif;
                }
            }
            
            #created-checkpoint-container{
                width: 100%;
                height: 100%;
                margin: auto;
                background: #83a4d4; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
                background: -webkit-linear-gradient(#83a4d4, #b6fbff);
                background: -o-linear-gradient(#83a4d4, #b6fbff);
                background: linear-gradient(#83a4d4, #b6fbff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                
                .border-radius;
                
                .created-checkpoint-cell{
                    color: white;
                    width: 80%;
                    margin: 3% auto;
                    
                    .fa{
                        color: #e74c3c;
                        display: none;
                    }
                }
                
                #edit-checkpoints{
                    width: 17%;
                    border: none;
                    background-color: white;
                    font-size: .85em;
                    color: gray;
                    font-family: @Oswald;
                    margin-top: 2%;
                    display: none;
                    padding: .5%;
                    .border-radius;
                }
                
                #empty-paragraph{
                    font-family: 'WorkSansExtraLight', sans-serif;
                    color: black;
                    font-style: italic;
                    padding-top: 0;
                    padding: 2%;
                }
                
                .created-checkpoint{
                    padding: 2%;
                    width: 80%;
                    margin: auto;
                    color: white;
                    font-family: 'Montserrat-Bold', sans-serif;
                    font-size: 1.5em;
  
                }
                
                .time-container{
                    input{
                        width: 50%;
                        .border-radius(0)
                    }
                }
            }
            
                    
        }
        .save-task-container{
            width: 100%;
            margin: auto;
            text-align: center;
            padding-bottom: 5%;
            .save-task-button{
                    .border-radius;
                    margin: 0 auto;
                    margin-top: 5%;
                    background-color: #40b0b1;
                    border: none;
                    color: white;
                    font-family: 'Montserrat-ExtraBold', sans-serif;
                    font-size: 1.5em;
                    width: 30%;  
             }
             
        }
    }
    
    select{
        color: @PrimaryBlue;
        font-family: 'Montserrat-Light', sans-serif;
    }
    
    #darker-save-button{
        background-color: @DarkerTeale;
    }
    
    #hover-add-checkpoint{
        color: white;
        background-color: @PrimaryBlue;
    }
    
     @mobile:  ~"only screen and (max-width: 770px)";
        @media @mobile{
            .new-task-main-container{
                .new-task-middle{
                    .checkpoint-container{
                        input{
                            margin-top: 3%;
                        }
                    }
                }
            }   
        }
}
}

   

