& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="newtask-vc"] {

    }
}

.new-task-main-container{
    width: 100%;
    
    .new-task-top-header{
        height: 175px;
        background-color: @PrimaryBlue;
        
        h1{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 3em;
            text-align: center;
            line-height: 2.25em;
            color: white;
        }
    }
}